<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <input id="user_role_admin" name="user[role]" type="radio" value="organizer">
    <label for="user_role_admin">Organizer</label>
    <input id="user_role_user" name="user[role]" type="radio" value="member">
    <label for="user_role_user">Volunteer/Worker</label>
    <input id="user_role_user" name="user[role]" type="radio" value="guest">
    <label for="user_role_user">Guest</label>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Full Name" %> 
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "email@provider.com" %> 
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field actions" style="margin: 10px 0px 0px 0px;">
    <%= f.submit "Sign up" %>
  </div>

  <%= f.label "- or -" %>
<% end %>

<div class="field col-sm-4" style="margin: 0px 0px 0px -15px;">
  <%= link_to(user_facebook_omniauth_authorize_path, :class => "btn btn-block btn-social  btn-facebook ") do %>
    <span class="fa fa-facebook"> </span> Sign up with Facebook 
  <% end %>
</div>