<h1><%= @task.title %></h1> <%= link_to("Edit Task", edit_event_task_path) if current_user.admin? %>
Description: <%= @task.description %> <hr>
Time Slot: <%= @task.time %> <br>
Participants:
<% @users.each do |user| %>
  <%= user.email %> <br>
<% end %>

<hr>
<% if current_user.admin? %>
  <%= link_to("Delete Task", event_task_path, :method => :delete) %>
<% elsif current_user.member? %>
  <button><%= link_to("Sign Up For This Task", event_task_path, :method => :patch) %></button>
<% end %>

  