<div class="text-center"> 
  <h2>Edit Event</h2>
</div> <hr>
<% if logged_in? %>
  <%= form_for @event, url: {action: "update", method: "post"} do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :title %> <br>
    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :date %> <br>
    <%= f.text_field :date, "data-provide" => 'datepicker' %> <br>
    <div class="input-group bootstrap-timepicker timepicker">
      <%= f.label :start_time %> <br>
      <%= f.text_field :start_time, "class" => "input-small" %> <br>
      <%= f.label :end_time %> <br>
      <%= f.text_field :end_time, "class" => "input-small" %> <br>
      <script type="text/javascript">
            $('#event_start_time').timepicker({
              template: 'dropdown',
              defaultTime: false
            });
            $('#event_end_time').timepicker({
              template: 'dropdown',
              defaultTime: false
            });
        </script>
    </div> <br>
    <%= f.submit %>
  <% end %>
<% else %>
  <p>Please login to edit Events</p>
<% end %>