<div class='text-center'>
  <h1 class="title">Events</h1>
  <div class="page-nav">
    <% if organizer_permissions? %>
      <%= link_to("Create New Event", new_event_path, :id => 'new-event')%>
    <% end %>
  </div>
</div> <hr>

<div class="event-show" style="display: none"></div>
<div class="task-show" style="display: none"></div>
<div class="event-index">
  
  <% @events.each do |event| %>
    <h4><%= link_to(event.title, event_path(event), :'data-id' => event.id, :'data-title' => event.title, :class => 'js-showEvent') %> - (<%= event.date %>) 
    <% if event.all_positions_filled? %>
     
    <text class="text-success">All Positions Filled</text></h4>
    <% else %>
      <text class="text-danger"><%= event.positions_remaining(event.task_ids) %> Position(s) To Be  Filled</text></h3>
    <% end %>
  
    <p><%= truncate event.description.squish, :length => 150, :separator => /\w/, :omission => "... " %></p>
  
  
    <hr>
  <% end %>
</div>
<div class="scripts"></div>






