<div class="text-center"> 
  <h1>Edit Event</h1>
</div> <hr>
<% if logged_in? %>
  <%= form_for @event, url: {action: "create", method: "post"} do |p| %>
    <%= p.label :name %> <br>
    <%= p.text_field :title %> <br>
    <%= p.label :description %> <br>
    <%= p.text_area :description %> <br>
    <%= p.label :date %> <br>
    <%= p.text_field :date_time %> <br><br>
    <%= p.submit %>
  <% end %>
<% else %>
  <p>Please login to edit Events</p>
<% end %>