
  <h2><%= @event.title %></h3>
  <p><%= @event.description %></p>
  <h4>Tasks:</h4>
  <% if current_user.admin? %>
    <button><%= link_to "New Task", new_event_task_path(@event) %></button>
  <% end %>
  <% @event.tasks.each do |task| %>
    <li><p><%= link_to task.title, event_task_path(@event, task) %></p>
  <% end %>
  <h4>Participants</p>
  <% if !@event.tasks.blank? %>
    <% @event.tasks.each do |task| %>
      <% task.users.each do |user| %>
        <li><p><%=user.email%></p></li>
      <% end %>
    <% end %>
  <% end %>
  <hr>
